.forms-container {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
  }
  
  .forms-container label {
    margin-bottom: 4px;
  }
  
  .forms-container input {
    margin-bottom: 16px;
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .forms-container button {
    padding: 8px 16px;
    margin-top: 16px;
    border: none;
    border-radius: 4px;
    background-color: #cdc199;
    color: rgb(44, 44, 44);
    cursor: pointer;
  }
  
  .forms-container button:hover {
    background-color: rgb(63, 63, 63);
    color: #ddd5ba;
    transform: scale(1.1);
  }