@font-face {
    font-family: 'NewFont';
    src: url('./fonts/Abbasy\ Calligraphy\ Typeface.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-left: 40px; 
    height: 10em;
    width: 100%;
    border-bottom: 2px solid white;
    backdrop-filter: blur(3px);
}

.bg-body-tertiary {
    width: 100%;
    border-bottom: 2px solid white !important;
    backdrop-filter: blur(3px);
}

h1 {
    font-size: 6em !important;
    color:rgb(79, 93, 104);
    text-shadow: 2px 2px 4px rgb(230, 230, 235);
    font-family: 'NewFont', sans-serif;        
}

.header .days, h3 {
    font-size: 2em !important;
    color:rgb(79, 93, 104);
    text-shadow: 2px 2px 4px rgb(230, 230, 235);
    font-family: 'NewFont', sans-serif;    
}

.shopping-cart {
    color: black !important;
    text-decoration: none !important;
    margin: 10px;
    cursor: pointer;
    font-size: 24px;
    right: 0%;
}

.shopping-cart span {
    font-size: 15px;
}

.shopping-cart span:hover {
    font-weight: bold;
}

.fa-shopping-cart {
    color: white;
}

.ShopCartText {
    font-size: 10px;
}