/* @font-face {
    font-family: 'NewFont';
    src: url('./fonts/Abbasy\ Calligraphy\ Typeface.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
  } */

  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mukta&display=swap');

.header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;    
    padding-left: 40px;
    padding-right: 5px; 
    height: 10em;
    width: 100%;
    border-bottom: 2px solid white;
    backdrop-filter: blur(3px);
}

.bg-body-tertiary {
    width: 100%;
    border-bottom: 2px solid white !important;
    backdrop-filter: blur(3px);
}

h1 {
    font-size: 5em !important;
    color:rgb(79, 93, 104);
    text-shadow: 2px 2px 4px rgb(230, 230, 235);
    /* font-family: 'NewFont', sans-serif;         */
    font-family: 'Great Vibes', cursive;
}

.header .days, h3 {
    font-size: 2em !important;
    color:rgb(79, 93, 104);
    text-shadow: 2px 2px 4px rgb(230, 230, 235);
    /* font-family: 'NewFont', sans-serif;     */
    font-family: 'Great Vibes', cursive;
}
.button {
    float: right;
    padding: 4px;
    width: 150px;
    border-radius: 6px;
    background-color: rgba(191, 189, 186, 0.924);
    margin-right: 10px;
    margin-top: 10px;
}
.button:hover {
    box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #ddddddec;
}
@media screen and (max-width: 900px) {
    h1, .header.days {
        width: max-content;
        font-size: 4em !important;
    }
}
@media screen and (max-width: 780px) {
    h1, .header.days {
        width: max-content;
        font-size: 3.7em !important;
    }
}
@media screen and (max-width: 640px) {
    h1, .header.days {
        width: max-content;
        font-size: 3.4em !important;
    }
}
@media  screen and (max-width: 560px) {
    h1, .header.days  {
        width: max-content;
        font-size: 2.8em !important;
  }
}
