@font-face {
    font-family: 'NewFont';
    src: url('./fonts/Abbasy\ Calligraphy\ Typeface.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-left: 40px; 
    height: 10em;
    width: 100%;
    border-bottom: 2px solid white;
    backdrop-filter: blur(3px);
}

.bg-body-tertiary {
    width: 100%;
    border-bottom: 2px solid white !important;
    backdrop-filter: blur(3px);
}

h1 {
    font-size: 4em !important;
    color:rgb(79, 93, 104);
    text-shadow: 2px 2px 4px rgb(230, 230, 235);
    font-family: 'NewFont', sans-serif;        
}

.header .days, h3 {
    font-size: 2em !important;
    color:rgb(79, 93, 104);
    text-shadow: 2px 2px 4px rgb(230, 230, 235);
    font-family: 'NewFont', sans-serif;    
}
