.shopping-cart-dropdown {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .total-price {
    border-top: 1px solid #ddd;
    text-align: right;
  }
  
  .dropdown-toggle::after {
    display: none;
  }

  .shopping-cart-dropdown-menu {
    width: 100%; 
    max-height: 300px; 
    overflow-y: auto;
  }