

  .custom-shopping-cart .dropdown-menu {
    width: 100% !important; /* Haluamasi leveys */
    max-height: 1000px; /* Haluamasi korkeus */
    overflow-y: auto; /* Vierityspalkki tarvittaessa */
    /* Muut haluamasi tyylit */
  }
  
  .bg-body-tertiary .custom-shopping-cart .dropdown-menu {
    width: 100% !important;
  }